@import "tailwindcss";



/* body {
  font-family: var(--font-pathway-extreme), var(--font-josefin-sans)
} */

.font-pathway-extreme {
  font-family: var(--font-pathway-extreme);
}

.font-josefin-sans {
  font-family: var(--font-josefin-sans);
}
/* .font-Inter {
  font-family: var(--font-Inter);
} */

.container {
  max-width: 1220px;
  margin: 0 auto;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.spinner {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.logo {
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}